@import "fonts"
@import "animations"

$warning-color: rgb(250, 165, 0)
$info-color: rgb(0, 175, 250)

[sherpa-ui~="fluid"]
  position: fixed
  bottom: 0
  left: 10%
  right: 10%

  height: 80%

  background-color: white

  color: #2d2d2d
  font-family: "Roboto", sans-serif

  border: solid 1px #E6E6E6
  border-top-left-radius: 30px
  border-top-right-radius: 30px

  box-shadow: 0 0 10px rgba(0 0 0 / .1)

  animation-name: slideTop
  animation-delay: 0s
  animation-duration: .5s
  animation-timing-function: ease-in-out

  padding: 50px

  overflow-x: hidden
  overflow-y: auto

  &[sherpa-ui~="warning"]
    border: solid 1px $warning-color
    box-shadow: 0 0 10px rgba($warning-color, .3)

    h1, h2, h3, h4, h5, h6
      color: $warning-color

  &[sherpa-ui~="info"]
    border: solid 1px $info-color
    box-shadow: 0 0 10px rgba($info-color, .3)

    h1, h2, h3, h4, h5, h6
      color: $info-color


  > header
    border-bottom: solid 1px #E6E6E6

  h1, h2, h3, h4, h5, h6
    font-weight: 900

  h1
    font-size: 3rem

  h2
    font-size: 2.5rem

  h3
    font-size: 2rem

  h4
    font-size: 1.75rem

  h5
    font-size: 1.5rem

  h6
    font-size: 1.25rem

  span
    &.code-quote
      padding: 1px

      border: solid 1px #CCCCCC
      border-radius: 5px

      background-color: #E6E6E6

    &.font-mono
      font-family: monospace