@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../sherpa-fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@keyframes slideTop {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
[sherpa-ui~=fluid] {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 80%;
  background-color: white;
  color: #2d2d2d;
  font-family: "Roboto", sans-serif;
  border: solid 1px #E6E6E6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: slideTop;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
[sherpa-ui~=fluid][sherpa-ui~=warning] {
  border: solid 1px rgb(250, 165, 0);
  box-shadow: 0 0 10px rgba(250, 165, 0, 0.3);
}
[sherpa-ui~=fluid][sherpa-ui~=warning] h1, [sherpa-ui~=fluid][sherpa-ui~=warning] h2, [sherpa-ui~=fluid][sherpa-ui~=warning] h3, [sherpa-ui~=fluid][sherpa-ui~=warning] h4, [sherpa-ui~=fluid][sherpa-ui~=warning] h5, [sherpa-ui~=fluid][sherpa-ui~=warning] h6 {
  color: rgb(250, 165, 0);
}
[sherpa-ui~=fluid][sherpa-ui~=info] {
  border: solid 1px rgb(0, 175, 250);
  box-shadow: 0 0 10px rgba(0, 175, 250, 0.3);
}
[sherpa-ui~=fluid][sherpa-ui~=info] h1, [sherpa-ui~=fluid][sherpa-ui~=info] h2, [sherpa-ui~=fluid][sherpa-ui~=info] h3, [sherpa-ui~=fluid][sherpa-ui~=info] h4, [sherpa-ui~=fluid][sherpa-ui~=info] h5, [sherpa-ui~=fluid][sherpa-ui~=info] h6 {
  color: rgb(0, 175, 250);
}
[sherpa-ui~=fluid] > header {
  border-bottom: solid 1px #E6E6E6;
}
[sherpa-ui~=fluid] h1, [sherpa-ui~=fluid] h2, [sherpa-ui~=fluid] h3, [sherpa-ui~=fluid] h4, [sherpa-ui~=fluid] h5, [sherpa-ui~=fluid] h6 {
  font-weight: 900;
}
[sherpa-ui~=fluid] h1 {
  font-size: 3rem;
}
[sherpa-ui~=fluid] h2 {
  font-size: 2.5rem;
}
[sherpa-ui~=fluid] h3 {
  font-size: 2rem;
}
[sherpa-ui~=fluid] h4 {
  font-size: 1.75rem;
}
[sherpa-ui~=fluid] h5 {
  font-size: 1.5rem;
}
[sherpa-ui~=fluid] h6 {
  font-size: 1.25rem;
}
[sherpa-ui~=fluid] span.code-quote {
  padding: 1px;
  border: solid 1px #CCCCCC;
  border-radius: 5px;
  background-color: #E6E6E6;
}
[sherpa-ui~=fluid] span.font-mono {
  font-family: monospace;
}

/*# sourceMappingURL=styles.css.map */
